<configuration>
	<appSettings>
		<add key="botUsername" value="r0bert2pog"/>
		<add key="botAccessToken" value="-"/>
		<add key="botRefreshToken" value="-"/>
	
		<add key="channelUsername" value="robertdevv"/>

		<add key="apiClientID" value="-"/>
		<add key="apiClientSecret" value="-"/>
	</appSettings>
</configuration>